# Raw Kaggle verisi
mania_pipeline/data/raw/
*.zip

# Python
__pycache__/
*.py[cod]
.DS_Store
.env

# IDE
.vscode/
.idea/

# Requirements
mania_pipeline/requirments.txt
.playwright-mcp/console-2026-02-26T12-54-53-106Z.log
.playwright-mcp/console-2026-02-26T12-08-59-252Z.log
.playwright-mcp/console-2026-02-26T12-08-49-691Z.log
march-machine-leraning-mania-2026/WTeamSpellings.csv
march-machine-leraning-mania-2026/WTeams.csv
march-machine-leraning-mania-2026/WTeamConferences.csv
march-machine-leraning-mania-2026/WSecondaryTourneyTeams.csv
march-machine-leraning-mania-2026/WSecondaryTourneyCompactResults.csv
march-machine-leraning-mania-2026/WSeasons.csv
march-machine-leraning-mania-2026/WRegularSeasonDetailedResults.csv
march-machine-leraning-mania-2026/WRegularSeasonCompactResults.csv
march-machine-leraning-mania-2026/WNCAATourneySlots.csv
march-machine-leraning-mania-2026/WNCAATourneySeeds.csv
march-machine-leraning-mania-2026/WNCAATourneyDetailedResults.csv
march-machine-leraning-mania-2026/WNCAATourneyCompactResults.csv
march-machine-leraning-mania-2026/WGameCities.csv
march-machine-leraning-mania-2026/WConferenceTourneyGames.csv
march-machine-leraning-mania-2026/SampleSubmissionStage2.csv
march-machine-leraning-mania-2026/SampleSubmissionStage1.csv
march-machine-leraning-mania-2026/MTeamSpellings.csv
march-machine-leraning-mania-2026/MTeams.csv
march-machine-leraning-mania-2026/MTeamConferences.csv
march-machine-leraning-mania-2026/MTeamCoaches.csv
march-machine-leraning-mania-2026/MSecondaryTourneyTeams.csv
march-machine-leraning-mania-2026/MSecondaryTourneyCompactResults.csv
march-machine-leraning-mania-2026/MSeasons.csv
march-machine-leraning-mania-2026/MRegularSeasonDetailedResults.csv
march-machine-leraning-mania-2026/MRegularSeasonCompactResults.csv
march-machine-leraning-mania-2026/MNCAATourneySlots.csv
march-machine-leraning-mania-2026/MNCAATourneySeeds.csv
march-machine-leraning-mania-2026/MNCAATourneySeedRoundSlots.csv
march-machine-leraning-mania-2026/MNCAATourneyDetailedResults.csv
march-machine-leraning-mania-2026/MNCAATourneyCompactResults.csv
march-machine-leraning-mania-2026/MMasseyOrdinals.csv
march-machine-leraning-mania-2026/MGameCities.csv
march-machine-leraning-mania-2026/MConferenceTourneyGames.csv
march-machine-leraning-mania-2026/Conferences.csv
march-machine-leraning-mania-2026/Cities.csv
data/seeds_with_region.csv
data/season_features.csv
data/region_strength.csv
data/processed_features.csv
.playwright-mcp/page-2026-02-26T12-08-29-857Z.png
.playwright-mcp/page-2026-02-26T12-07-11-075Z.png
.playwright-mcp/console-2026-02-26T12-30-26-979Z.log
.playwright-mcp/console-2026-02-26T12-08-25-689Z.log
.playwright-mcp/console-2026-02-26T12-07-02-607Z.log
.claude/settings.local.json
.claude/hooks/session-start.json
